#! /bin/bash

# In order to use this file, you need to install direnv and run `direnv allow`
# direnv will automatically load the environment variables from the .env file
# and make them available to the shell.

# to install direnv: `brew install direnv`

dotenv
set -a
source_env .env
set +a
